<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.vertinode.facepunch"
    android:versionCode="1"
    android:versionName="1.0">
    
    <!-- Android 2.2 -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    
    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".FPApp">
        <!-- Activity dispatcher -->
        <activity android:name=".DispatcherActivity" android:noHistory="true" android:theme="@android:style/Theme.Light.NoTitleBar"  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Login form -->
        <activity android:name="nl.vertinode.facepunch.LoginActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
		
        <!-- Frontpage view -->
        <activity android:name="nl.vertinode.facepunch.FrontpageActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
    </application>
</manifest>