<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" package="nl.vertinode.facepunch">
    
    <!-- Android 2.2 -->
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    
    <!-- Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/fp_icon" android:label="@string/app_name" android:name="nl.vertinode.facepunch.FPApp">        
        <!-- Login form -->
        <activity android:name=".LoginActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
        <!-- Frontpage view -->
        <activity android:name="nl.vertinode.facepunch.FrontpageActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
        
        <!-- Forum view -->
        <activity android:name="nl.vertinode.facepunch.ForumActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
        
        <!-- Thread view -->
        <activity android:name="nl.vertinode.facepunch.ThreadActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
        
        <!-- Prefs -->
        <activity android:name="nl.vertinode.facepunch.PreferencesActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
        
        <!-- Private Messages -->
        <activity android:name="nl.vertinode.facepunch.PMActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="nl.vertinode.facepunch.ViewPMActivity" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden">
        </activity>
    </application>
</manifest>